body {
	background-image: url(img/1.jpg);  
	font-family: arial;

}

.menu {
	background-color: white;
	border-radius: 20px;
	padding: 40px;
}
.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-subtitle,
.site-title{
	text-align: center;

}

